@model Entity.Abstract.Book
@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h1 class=" alert-light text-center" style="font-size:58px">ADD BOOK</h1>

</div>


<div class="row d-flex justify-content-center">
    <div class="col-lg-4 text-center p-4 m-5  d-flex justify-content-center  ">

        @using (Html.BeginForm("AddBook", "Home", FormMethod.Post))
        {

            @Html.Label("Kitabın adı")
            @Html.TextBoxFor(I => I.BookName, new { @class = "form-control" })

            @Html.Label("Müəllif:")
            @Html.TextBoxFor(I => I.About, new { @class = "form-control" })

            @Html.Label("Qiymət")
            @Html.TextBoxFor(I => I.Price, new { @class = "form-control" })

            @Html.Label("Kitabın sayı")
            @Html.TextBoxFor(I => I.Count, new { @class = "form-control" })

            @Html.Label("Kitabın Janrı")
            @Html.TextBoxFor(I => I.GenreId, new { @class = "form-control" })

            <button class="btn btn-outline-info mt-3">Save Book</button>

        }


    </div>
</div>

